# Archivos TypeScript compilados accidentalmente en src
src/**/*.js
src/**/*.js.map

# Excepciones (si tienes archivos .js legítimos en src, descoméntalos)
 !src/**/*.config.js
 !src/vite-env.d.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
